h1{
    font-size: 30px;
    text-align: center;
    color: #444;
}
.product-grid{
    font-family: Arial, sans-serif;
    margin: 30px;
    padding: 30px;
    display:grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 30px;
    background-color: #95c7c7;
    color: #333;
    
}
.product-card{
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
}

